# Dependencies
node_modules/

# Expo
.expo/
.expo-shared/

# Build outputs
android/app/build/
android/.gradle/
ios/Pods/
ios/build/

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# Local env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# OSX
.DS_Store

# IDE
.idea/
.vscode/
*.swp
*.swo

# Logs
*.log
logs/

# Testing
coverage/

# Misc
*.apk
*.aab
*.ipa
